body {
    background: #0f0f0f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;

    /* gloing edge */
    box-shadow: 0 0 20px rgba(255,255,255,0.8),
    inset 0 0 20px rgba(255,255,255,0.7);

    /*regmented line */
    background: conic-gradient(
        from 0deg,
        rgba(255,255,255,0.2) 0deg 5deg,
        rgba(255,255,255,0) 5deg 15deg,
        rgba(255,255,255,0.2) 15deg 20deg,
        rgba(255,255,255,0) 20deg 35deg
    );

    animation: rodate 12s linear infinite;
}

@keyframes rotate {
    to { transform: rotate(350deg); }
}

.dot {
    width: 25px;
    height: 25px;
    background: #c1beac;
    border-radius: 50%;
    position: absolute;

    animation: orbit 6s linear infinite;
}

@keyframes orbit {
    0% { transform: rotate(0deg) translateX(180px) rotate(0deg); }
    100% { transform: rotate(360deg) translateX(180px) rotate(-360deg); }
}