body {
    background: transparent;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: transparent;

    /* gloing edge */
    box-shadow: 0 0 24px rgba(203, 195, 227, 0.5),
    inset 0 0 24px rgba(203, 195, 227, 0.2),
    inset 0 0 10px rgba(203, 195, 227, 0.1),
    inset 0 0 10px rgba(203, 195, 227, 0.2);







