body {
    background: #0f0f0f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;

    /* gloing edge */
    box-shadow: 0 0 20px rgba(255,255,255,0.8),
    inset 0 0 20px rgba(255,255,255,0.7);



